@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Lobster&display=swap');

:root {
  --background: #121212; /* Um fundo escuro, chique */
  --text: #e0e0e0;
  --primary: #f87171; /* Um vermelho/rosa fofo */
  --surface: #1e1e1e; /* Cor dos "cards" */
  --font-title: 'Lobster', cursive;
  --font-body: 'Poppins', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-body);
  margin: 0;
}